/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/JudoBackend.iml/target/
/.idea/
/.classpath
/.settings
/.tern-project
/.gradle/
/gradle/wrapper
/bin/
/build/
/scr/main/java/.gradle/
/.project
/.idea/
/JudoBackend.iml
application-dev.properties
application-test.properties
entityGenConfig.yml
