<div class="card d-print-none my-3">
    <div class="card-header">
        <h1 class="tagged"><i class="icon-bookmark-solid"></i>Information pages</h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>If display</th>
                        <th class="text-center lastcol">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let page of pages">
                        <td>{{page.innerName}}</td>
                        <td>{{page.title}}</td>
                        <td>{{page.display ? 'Yes' :'No'}}</td>
                        <td class="lastcol">
                            <button class="btn btn-primary" (click)="edit(page.pageStaticId)"><i class="icon-pen-nib-solid me-2"></i>Edit</button>
                            <button (click)="delete(page.pageStaticId)" class="btn btn-primary ms-2"><i class="icon-times-circle-solid me-2"></i>Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row me-2 justify-content-center">
            <div class="col-auto">
                <button class="btn btn-primary" (click)="add()"><i class="icon-file-solid me-2"></i>New page</button>
            </div>
        </div>
    </div>
</div>
