<div [formGroup]="form" class="row mt-2">
  <div class="col-3 my-auto text-end"><label class="form-label mb-0" for="textareaId{{id}}">{{inputLabel}}</label></div>
  <div class="col-9"><textarea autosize [formControlName]="controlName" class="form-control" id="textareaId{{id}}"></textarea></div>
</div>

<div *ngFor="let error of formErrors[fullControlName!=null ? fullControlName : controlName]" class="row mt-2">
  <div class="col">
    <div class="alert alert-danger">
      {{error}}
    </div>
  </div>
</div>
    
