<div class="card">
  <div class="card-header">
    <h1>Setting a new password on Club service</h1>
  </div>
  <div class="card-body">
    <form role="form" (submit)="remainder()" [formGroup]="remainderForm">

      <app-text-input-field [inputLabel]="'Password'" [formErrors]="formErrors" [controlName]="'password'" [type]="'password'" [form]="remainderForm" ></app-text-input-field>
      <app-text-input-field [inputLabel]="'Confirm password'" [formErrors]="formErrors" [controlName]="'confirmPassword'" [type]="'password'" [form]="remainderForm" ></app-text-input-field>

      <div class="row mt-3 justify-content-center">
        <div class="col">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Set password</button>
        </div>
      </div>
    </form>
  </div>
</div>
